<div class="addcrime" >
<ion-content style="--background: url(assets/imgs/background16.jpg) center / 100%;">
  <div #map id="map" style="height: 105%;width: 100%" ></div>
</ion-content>

<ion-header>
  <ion-toolbar style="--background: url(../assets/imgs/background16.jpg);">
    <ion-buttons style="margin-left: 5%;" slot="start">
      <ion-button (click)='closeModal()' color="primary" style="font-size: 100%;">Close</ion-button>
    </ion-buttons>
      <ion-buttons style="margin-right: 5%;" slot="end">
        <ion-button (click)='openAddCrime()' color="primary" style="font-size: 100%;">Next</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
</div>