<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accountus" href="/admin/(accountus:accountus)">
      <ion-icon name="person"></ion-icon>
      <ion-label>Users</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="supervisors"  href="/admin/(supervisors:supervisors)" (click)="tab2Selected()">
      <ion-icon name="people"></ion-icon>
      <ion-label>Crimes</ion-label>
    </ion-tab-button>
   
    <ion-tab-button tab="download" (click)="downloadCrime()">
        <ion-icon name="download"></ion-icon>
        <ion-label>Download Crimes</ion-label>
      </ion-tab-button>
    
    <ion-tab-button tab="logout" (click)="logout()">
      <ion-icon name="log-out"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

  <ion-tab tab="accountus">
    <ion-router-outlet name="accountus"></ion-router-outlet>
  </ion-tab>

  <ion-tab tab="supervisors">
    <ion-router-outlet name="supervisors"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
